.App {
  text-align: center;
}
.bu{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}
.it{
  font-size: calc(20px + 1.5vw);
  font-weight: bold;
  height:calc(30px + 1.5vw) ;
  text-align: center;
}
.addbutt{
  background-color: black;
  color: white;
  font-size:calc(11px + 0.5vw);
  padding: 0.5vw 1vw;
  border-radius: 3px;
  cursor: pointer;
}
.rel_body{
  background-color: #fbf5ec;
  height: 100vh;
}
.list_container{
  background-color: white;
  height: 70%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #393939;
  margin:20px 20px 20px 20px;
}
.ekaur_container{
  padding: 30px;
}
.user4 {
  display: inline-block;
  width: calc(15px + 1vw);
  height: calc(15px + 1vw);
  margin: 0px;
  object-fit: cover;
}
